.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color-dark);
  padding: 1em;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.item {
  margin-right: 2em;
}

.item a {
  color: #fff;
  text-decoration: none;
}

.item a:hover {
  color: var(--primary-color);
}